<div class="article-card">
  <div class="article-card-swiper">
    <div class="swiper swiper-container">
      <div class="swiper-wrapper">
        <% article.photos.each do |photo| %>
          <div class="swiper-slide">
            <%= cl_image_tag photo.key, crop: :fill %>
          </div>
        <% end %>
      </div>
      <div class="swiper-button-next"></div>
      <div class="swiper-button-prev"></div>
      <div class="swiper-pagination"></div>
    </div>
  </div>

  <div class="article-card-infos">
    <div>
      <h2><%= article.name %></h2>
      <p><%= article.detail %></p>
    </div>
    <h2 class="article-card-pricing"><%= humanized_money_with_symbol(article.price) %></h2>
  </div>
  <div class="article-card-link">
    <%= link_to 'Add to cart', add_to_cart_path(article.id), method: :post %>
  </div>
</div>
