<div class="profile-container">
  <div class="profile-content">
    <%= image_tag "Odahil_OrianneCiePhotographie-682x1024.jpg", class:"profile-picture align-left slide-in"%>
    <div class="profile-content-text">
      <h2>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Vitae culpa harum omnis, at temporibus rerum molestiae rem beatae explicabo dolore aut, repellendus ad. Distinctio repudiandae inventore doloribus repellendus maxime veritatis.</h2>
    </div>
  </div>

  <div class="profile-content">
    <div class="profile-content-text">
      <h2>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Vitae culpa harum omnis, at temporibus rerum molestiae rem beatae explicabo dolore aut, repellendus ad. Distinctio repudiandae inventore doloribus repellendus maxime veritatis.</h2>
    </div>
    <%= image_tag "krisalid5.jpg", class:"profile-picture align-right slide-in" %>
  </div>

  <div class="profile-content">
    <%= image_tag "krisalid2.jpg", class:"profile-picture align-left slide-in", id:"image-krisalid" %>
    <div class="profile-content-text">
      <h2>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Vitae culpa harum omnis, at temporibus rerum molestiae rem beatae explicabo dolore aut, repellendus ad. Distinctio repudiandae inventore doloribus repellendus maxime veritatis.</h2>
    </div>
  </div>

  <div class="profile-content">
    <div class="profile-content-text horizontal-image">
      <h2> <a href="https://atelierkrysalid.fr/" target="_blanck"> ATELIER KRYSALID </a><br>
          Coworking pour artistes <br>
          <a href="https://www.google.fr/maps/place/166+Rue+Vend%C3%B4me,+69003+Lyon/@45.7624593,4.8438707,17z/data=!3m1!4b1!4m5!3m4!1s0x47f4ea5f461e747d:0xac00289447b89820!8m2!3d45.7624593!4d4.8460594" target="_blanck">166 rue vendôme,</a><br>
          <a href="https://www.google.fr/maps/place/166+Rue+Vend%C3%B4me,+69003+Lyon/@45.7624593,4.8438707,17z/data=!3m1!4b1!4m5!3m4!1s0x47f4ea5f461e747d:0xac00289447b89820!8m2!3d45.7624593!4d4.8460594" target="_blanck">69003 Lyon.</a><br>
          Métro B, Place Guichard.</h2>
    </div>
    <%= image_tag "krisalid.jpg", class:"profile-picture align-right slide-in" %>
  </div>

</div>

<div class="contact-link">
  <%= link_to "Me contacter", new_contact_path, id:"contact-link" %>
</div>
