<div class="profile-container">
  <div class="profile-content">
    <%= image_tag "Odahil_OrianneCiePhotographie-682x1024.jpg", class:"profile-picture align-left slide-in", id:"odahil-profile-pic"%>
    <div class="profile-content-text">
      <h2>
      Co-worker au sein de l’Atelier Krysalid ; je suis illustrateur, et tatoueur. Spécialiste du néo-traditionnel, et de l’ornemental; en couleurs, ou en noir et nuances de gris.
      <br>
      J'adore explorer de nouveaux designs, tout en rajoutant un aspect ornemental et symétrique. Place à vos envies !
      <hr>
      <span>Odahil<span>
      </h2>
    </div>
  </div>
</div>
<div class="back-image"></div>
<div class="profile-container">
  <div class="profile-content">
    <div class="profile-content-text">
      <h2>Le collectif d’artistes, présent au sein de l’Atelier Krysalid, propose un espace de coworking pour artistes et professionnels ayant besoin d’un lieu pour travailler le temps d’une journée, d’une semaine ou même d’un mois. Sur une base forfaitaire, les artistes vous donnent accès à l’Atelier, aux fournitures et consommables déjà présents sur place, ainsi qu’à Internet.</h2>
    </div>
    <%= image_tag "krisalid5.jpg", class:"profile-picture align-right slide-in" %>
  </div>

  <div class="profile-content">
    <%= image_tag "krisalid2.jpg", class:"profile-picture align-left slide-in", id:"image-krisalid" %>
    <div class="profile-content-text">
      <h2>Les artistes, de l’Atelier Krysalid, sont principalement artistes – tatoueurs. Pour pratiquer leur art dans les meilleures conditions, l’Atelier est principalement un salon privé, où l’accès devient réservé pour les clients de nos artistes – résidents.</h2>
    </div>
  </div>

  <div class="profile-content">
    <div class="profile-content-text horizontal-image">
      <h2><a href="https://atelierkrysalid.fr/" target="_blanck"> ATELIER KRYSALID </a><br>
          Coworking pour artistes <br>
          <a href="https://www.google.fr/maps/place/166+Rue+Vend%C3%B4me,+69003+Lyon/@45.7624593,4.8438707,17z/data=!3m1!4b1!4m5!3m4!1s0x47f4ea5f461e747d:0xac00289447b89820!8m2!3d45.7624593!4d4.8460594" target="_blanck">166 rue vendôme,<br>69003 Lyon.<br>Métro B, Place Guichard.</a>
          </h2>
    </div>
    <%= image_tag "krisalid.jpg", class:"profile-picture align-right slide-in" %>
  </div>

</div>

<div class="contact-link">
  <%= link_to "Me contacter", new_contact_path, id:"contact-link" %>
</div>
