<div class="profile-container">
  <div class="profile-content">
    <%= image_tag "Odahil_OrianneCiePhotographie-682x1024.jpg", class:"profile-picture align-left slide-in"%>
    <div class="profile-content-text">
      <h2>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Vitae culpa harum omnis, at temporibus rerum molestiae rem beatae explicabo dolore aut, repellendus ad. Distinctio repudiandae inventore doloribus repellendus maxime veritatis.</h2>
    </div>
  </div>

  <div class="profile-content">
    <div class="profile-content-text">
      <h2>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Vitae culpa harum omnis, at temporibus rerum molestiae rem beatae explicabo dolore aut, repellendus ad. Distinctio repudiandae inventore doloribus repellendus maxime veritatis.</h2>
    </div>
    <%= image_tag "krisalid5.jpg", class:"profile-picture align-right slide-in" %>
  </div>

  <div class="profile-content">
    <%= image_tag "krisalid2.jpg", class:"profile-picture align-left slide-in", id:"image-krisalid" %>
    <div class="profile-content-text">
      <h2>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Vitae culpa harum omnis, at temporibus rerum molestiae rem beatae explicabo dolore aut, repellendus ad. Distinctio repudiandae inventore doloribus repellendus maxime veritatis.</h2>
    </div>
  </div>

  <div class="profile-content">
    <div class="profile-content-text horizontal-image">
      <h2>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Vitae culpa harum omnis, at temporibus rerum molestiae rem beatae explicabo dolore aut, repellendus ad. Distinctio repudiandae inventore doloribus repellendus maxime veritatis.</h2>
    </div>
    <%= image_tag "krisalid.jpg", class:"profile-picture align-right slide-in" %>
  </div>

</div>

<div class="contact-link">
  <%= link_to "Contacte-moi", new_contact_path, id:"contact-link" %>
</div>
