<div class="menu">

  <a href="#navigation" class="nav-trigger">
    <span></span>
  </a>

<nav class="nav-container" id="navigation">
  <div class="sign-in-link">
      <% if user_signed_in? %>
        <%= link_to destroy_user_session_path, method: :delete do %>
          <i class="fas fa-sign-out-alt"></i>
        <% end %>
      <% else %>
        <%= link_to new_user_session_path do %>
          <i class="fas fa-sign-in-alt hidden-link"></i>
        <% end %>
      <% end %>
    </div>
  <%# <header>
    <h2></h2>
  </header> %>

  <ul class="nav">
  <%= comment do %>
    <li><%= link_to 'Odahil', pages_profile_path, class:'link-line' %></li>
  <% end %>
    <li><%= link_to 'Gallery', tattoos_path, class:'link-line' %></li>
    <li><%= link_to 'Art', arts_path, class:'link-line' %></li>
    <% if user_signed_in? %>
      <li><%= link_to 'Messages', contacts_path, class:"link-line" %></li>
      <li><%= link_to 'Admin', pages_dashboard_path, class:"link-line" %></li>
    <% else %>
      <li><%= link_to 'Contact', new_contact_path, class:'link-line' %></li>
    <% end %>
  </ul>
</nav>

<div class="overlay"></div> <!-- improve main element 3d movement -->
</div>
