<div class="tattoo-card" id=<%= tattoo.id %> data-styles=<%= tattoo.styles.pluck(:name).join('/').gsub(' ', '') %>>
  <div class="spinner-border text-light" role="status">
  </div>
  <div class="tattoo-card-content">
    <div class="tattoo-card-image lightbox-img grey-filter" data-id=<%= tattoo.id %>>
      <%= cl_image_tag tattoo.photos.first.key, crop: :fill, id:"tattoo-list-picture" %>
      <span id="lines"></span>
    </div>
    <div class="tattoo-card-info" id="info-<%= tattoo.id %>">
    
      <h4><%= tattoo.name %></h4>
    </div>
  </div>
</div>
