<div class="new-tattoo-container">
  <div class="new-tattoo-form">
    <h1>Edit this tattoo</h1>
    <%= simple_form_for @tattoo do |f| %>
      <%= f.input :name %>
      <%= f.input :customer %>
      <%= f.input :date, discard_hour: true,
                              start_year: Date.today.year - 7,
                              end_year: Date.today.year,
                              order: [:day, :month, :year] %>
      <%= f.input :description, as: :text %>
      <%= f.association :styles %>
      <%= f.input :photos, as: :file, label:"Photo 1", input_html: { multiple: true }, hint:"This will be the main picture", require: true %>
      <%= f.input :photos, as: :file, label:"Photo 2", input_html: { multiple: true } %>
      <%= f.input :photos, as: :file, label:"Photo 3", input_html: { multiple: true } %>
      <%= f.input :photos, as: :file, label:"Photo 4", input_html: { multiple: true } %>
      <%= f.input :on_home_slider, label:"En page d'accueil" %>
      <%= f.submit "Save", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>
