<div class="new-tattoo-container">
  <div class="new-tattoo-form">
    <h1>Add a new tattoo</h1>
    <%= simple_form_for [@tattoo] do |f| %>
      <%= f.input :name %>
      <%= f.input :customer %>
      <%= f.input :date, discard_hour: true,
                              order: [:day, :month, :year] %>
      <%= f.input :description, as: :text %>
      <% comment do %>
      <%= f.input :style, collection: ['Electric Guitar', 'Acoustic Guitar', 'Bass', 'Drum'] %>
      <%= f.input :photos, as: :file, input_html: { multiple: true }, hint:"This will be the main picture", require: true %>
      <%= f.input :photos, as: :file, input_html: { multiple: true } %>
      <%= f.input :photos, as: :file, input_html: { multiple: true } %>
      <%= f.input :photos, as: :file, input_html: { multiple: true } %>
      <% end %>
      <%= f.input :on_home_slider %>
      <%= f.submit "Save", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>
