<div class="new-tattoo-container">
  <div class="new-tattoo-form">
    <h1>Add a new tattoo</h1>
    <%= simple_form_for @tattoo do |f| %>
      <%= f.input :name %>
      <%= f.input :customer %>
      <%= f.input :date, discard_hour: true,
                              start_year: Date.today.year - 7,
                              end_year: Date.today.year,
                              order: [:day, :month, :year] %>
      <%= f.input :description, as: :text %>
      <% comment do %>
        <%= f.input :style, collection: ['Réaliste', 'Traditionel', 'Autre'] %>
      <% end %>
      <div class="photo-upload-container">
        <%= f.input :photos, as: :file, label:"📷 Photo 1", label_html: { class: 'upload-photo'}, input_html: { class: '1', id:'photo-input', multiple: true }, hint:"This will be the main picture", require: true %>
        <%= image_tag "", width: 300, class: "hidden", id: "photo-preview-1" %>
      </div>
      <div class="photo-upload-container">
        <%= f.input :photos, as: :file, label:"📷 Photo 2", label_html: { class: 'upload-photo'}, input_html: { class: '2', id:'photo-input', multiple: true } %>
        <%= image_tag "", width: 300, class: "hidden", id: "photo-preview-2" %>
      </div>
      <div class="photo-upload-container">
        <%= f.input :photos, as: :file, label:"📷 Photo 3", label_html: { class: 'upload-photo'}, input_html: { class: '3', id:'photo-input', multiple: true } %>
        <%= image_tag "", width: 300, class: "hidden", id: "photo-preview-3" %>
      </div>
      <div class="photo-upload-container">
        <%= f.input :photos, as: :file, label:"📷 Photo 4", label_html: { class: 'upload-photo'}, input_html: { class: '4', id:'photo-input', multiple: true } %>
        <%= image_tag "", width: 300, class: "hidden", id: "photo-preview-4" %>
      </div>
      <%= f.input :on_home_slider, id:"new-tattoo-checkbox" %>
      <div class="tattoo-new-button">
        <%= f.submit "Save", class: "btn btn-primary" %>
        <%= link_to "Cancel", pages_dashboard_path , class: "btn btn-danger" %>
      </div>
    <% end %>
  </div>
</div>
