<div class="dashboard-container">
  <div class="dashboard-title">
    <h1>ADMIN DASHBOARD</h1>
  </div>
  <div id="visitcount">
    <%= link_to visits_index_path do %>
      Visites: <%= Visit.all.count %>
    <% end %>
  </div>
  <div class="dashboard-selection">
    <div class="dashboard-selection-button select-tattoos active">Tattoos</div>
    <div class="dashboard-selection-button select-arts">Arts</div>
  </div>
  <div class="dashboard-tattoos">
    <%= link_to "Ajouter un nouveau tattoo", new_tattoo_path, class:'custom-btn' %>
    <%= render 'dashboard_tattoos_list' %>
  </div>
  <div class="dashboard-arts dashboard-hidden">
    <%= link_to "Ajouter un nouvel artwork", new_art_path, class:'custom-btn' %>
    <%= render 'dashboard_arts_list' %>
  </div>
</div>

<div class="preview-box">
  <div class="details">
    <div class="details-title"></div>
    <span class="details-icon fas fa-times"></span>
  </div>
  <div class="image-box">
    <img src="" alt="">
  </div>
</div>
<div class="shadow"></div>
