<div class="contact-new-container">
  <div class="contact-new-text">
    <h4>Envie de parler de ton projet,</h4>
    <h4>d'avoir plus de renseignement,</h4>
    <h4>de prendre un rendez-vous?</h4>
    <h4>Laisse-moi un message!</h4>
  </div>

  <%= simple_form_for @contact, :html => {:class => 'form-horizontal' } do |f| %>
    <%= f.input :name, :required => true, label:"Nom" %>
    <%= f.input :email, :required => true %>
    <%= f.input :message, :as => :text, :required => true %>
    <div id='contact-button'>
      <br>
      <%= f.button :submit, 'Envoyer', :class=> "btn btn-primary" %>
    </div>
  <% end %>
</div>
