<div class="new-tattoo-container">
  <div class="new-tattoo-form">
    <h1>Add a new artwork</h1>
    <%= simple_form_for @art do |f| %>
      <%= f.input :name %>
      <%= f.input :description, as: :text %>
      <% comment do %>
        <%= f.input :style, collection: ['Réaliste', 'Traditionel', 'Autre'] %>
      <% end %>
      <div class="photo-upload-container">
        <%= f.input :photos, as: :file, label:"📷 Photo 1", label_html: { class: 'upload-photo'}, input_html: { class: '1', id:'photo-input', multiple: true }, require: true %>
        <%= image_tag "", width: 300, class: "hidden", id: "photo-preview-1" %>
      </div>
      <hr>
      <div class="tattoo-new-button">
        <%= f.submit "Save", class: "custom-btn" %>
        <%= link_to "Cancel", pages_dashboard_path , class: "custom-btn-danger" %>
      </div>
    <% end %>
  </div>
</div>
