<!DOCTYPE html>
<html>
  <head>
    <title>Odahil</title>
    <%= favicon_link_tag 'favicon.ico' %>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <link rel="manifest" href="<%= asset_path 'manifest.json' %>">
    <%= render 'shared/ios_pwa_links' %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper/swiper-bundle.min.css"/>
    <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.css">
    <link href='https://api.mapbox.com/mapbox-gl-js/v2.9.2/mapbox-gl.css' rel='stylesheet' />
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>

  <body>
    <main>
      <%= render 'shared/navbar_large_screen' %>
      <%= render 'shared/navbar_small_screen' %>
      <%= render 'shared/flashes' %>
      <%= yield %>
    </main>
    <footer class="footer-distributed">
      <%= render 'shared/footer' %>
    </footer>
  </body>
  <!-- Initialize Swiper -->
  <script src="https://unpkg.com/swiper/swiper-bundle.js"></script>
</html>
